.navbar{
    display: flex;
    background:#fff;
    color: #000;
    width: 100%;
    height: 80px;
    position: relative;
}
.logo{
    font-size: 1.3em;
    font-weight: bold;
    color:#000;
    text-decoration: none;
}
.logo:hover{
    color:#000;
    text-decoration: none;
}
.icon{
    font-size: 22px;
    font-weight: bolder !important;
    margin-left:5px;
    margin-right: 10px;
    color: #000;
}
.icon:hover{
    text-decoration: none;
    color: #000;
}
.navlist_1{
    padding-left: 20px;
}
.navlist_2{
    margin-left: 80px;
}
.list-link{
    width: 100%;
    height: 100vh;
    background: #aaa;
    position: relative;
    top:15vh;
}

.main{
    display: inline;
    margin: 10px;
    font-size: 0.8em;
    font-weight: 600;
    align-items: center;
}
.main:hover{
    background: #000;
    color:#fff;
    border-left: 30%;
  border-start-end-radius: 30%;
  cursor: pointer;
}
.link{
    background: transparent !important;
    color:#000;
    font-size: 0.8em !important;
    font-weight: 600;
}
.link:hover{
    text-decoration: none;
    color:#000;
    font-size: 0.8em;
    font-weight: 600;
}

@media screen and (max-width: 1150px){
    .navlist_1{
        visibility: hidden;
    }
    .navlist_2{
        visibility: hidden;
    }
    .navlist_3{
        position: absolute;
        right:10px;
        top:10px;
    }
    .logo{
        position: absolute;
        top:10px;
        left:10px;
    }
}
.nav_mobile{
    width:350px;
    height: 900px;
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
}
.close_tap{
    position: fixed;
    top:20px;
    right: 20px;
    font-size: 20px;
    cursor: pointer;
    margin-bottom: 50px;
}
.list_mobile{
    padding-top: 70px;
}
.main_mobile{
    display: flex;
    justify-content: space-between;
    font-size: 21px;
    font-weight: 200;
    padding-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;
}
.link_mobile{
    font-size: 21px;
    font-weight: 200;
    color: #000;
    padding-top: 40px;
    padding-left: 15px;
}
.link_mobile:hover{
    color: #000;
    text-decoration: none;
}

