.menu{
    display: flex;
    width: 100%;
    height: 120vh;
    position: absolute;
    top:80px;
    padding-top: 5vh;
    margin: 0;
    right: 0;
    background: #fff;
}
.list-1{
  list-style: none;
}
.list-2{
  list-style: none;
  position: relative;
  top:11vh;
}

.img-container{
  margin-top: 50px;
  
  height: 60vh;
  border-left:0.5px solid #aaa;
 
}
.img{
  margin-left: 50px;
  border-radius: 4%;
  width:300px;
  height: 300px;
}
p{
  margin-left: 50px;
  font-weight: bold;
}

.list-item-1{
  display: flex;
  margin-bottom: 30px;
  font-size: 18px;
  cursor: pointer;
}
.list-item-1:hover{
  font-weight: 700;
}

.list-item-2{
  margin-bottom: 30px;
  margin-left: 40px;
  font-size: 18px;
}
.link{
  color: #000;
  font-size: 18px;
}
.link:hover{
  text-decoration: none;
  color:#000;
  font-size: 18px;
}
.bold{
  font-weight: 650;
}
span{
  font-size: 20px;
}

.title{
  margin-bottom: 30px;
}
.hidden{
  display: none;
}
.close-navbar{
  position: absolute;
  top:10px;
  right: 50px;
  font-size: 20px;
  cursor: pointer;
}